@page "/AddClient"
@page "/AddClient/{VAT_ID_number:int}"
@using Blazor_Application.Shared
@using Blazor_Application.Client.Sevices.ClientService
@inject IClientService ClientService


<h3>Create new client </h3>

<p>date will be @DateTime.Today.ToShortDateString() and VAT ID number will be automatically assigned</p>
<EditForm Model="cl" OnSubmit="handleEdit">
    <div>
        <label for="name">Enter Name</label>
        <InputText id="name" @bind-Value='cl.Name' class="form-control"></InputText>
    </div><br />
    <div>
        <label for="name">Enter Surname</label>
        <InputText id="name" @bind-Value='cl.Surname' class="form-control"></InputText>
    </div><br />
    <div>
        <label for="name">Enter Address</label>
        <InputText id="name" @bind-Value='cl.Address' class="form-control"></InputText>
    </div><br />

    <button type="button" class="btn btn-primary" @onclick="handleEdit">Submit client</button>
</EditForm>



@code {
    [Parameter]
    public int? VAT_ID_number { get; set; }

    client cl = new client { };

    protected override async Task OnParametersSetAsync()
    {
        if (VAT_ID_number != null)
        {
            cl = await ClientService.GetSingleClient((int)VAT_ID_number);
        }
        else
        {
            //
        }
    }

    async Task handleEdit()
    {
        if (VAT_ID_number == null)
        {
            await ClientService.CreateClient(cl);
        }
        else
        {
            await ClientService.UpdateClient(cl);
        }
    }



}
